<style>
  
    .py-5{        
       height:830px;
       padding-bottom: 50px;
       background: url("https://image.shutterstock.com/shutterstock/photos/722251978/display_1500/stock-photo-compass-over-map-with-toy-airplane-abstract-background-to-travel-concept-722251978.jpg") ;
    }
      </style>
<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">PAYMENT</h3>
                  </div>
                    <div class="card-body">
                        <form >
                            <div class="form-group">
                                <label for="title">Name on Card</label>
                                <input type="text" name="title" class= "form-control">
                            </div>
                            <div class="form-group">
                                <label for="title">Credit Card number</label>
                                <input type="text" name="desc" class= "form-control">
                            </div>
                            <div class="form-group">
                                <label for="expmonth">Exp Month</label>
        <select name="expmonth"   style="width: 570px;" class= "form-control">
                  <option value="January">January</option>
                  <option value="February">February</option>
                  <option value="March">March</option>
                  <option value="April">April</option>
               <option value="May">May</option>
             <option value="June">June</option>
             <option value="July">July</option>
             <option value="August">August</option>
             <option value="September">September</option>
             <option value="Octobar">Octobar</option>
             <option value="November">November</option>
             <option value="December">December</option>
            
                              </select>
                            </div>
                            <div class="form-group">
                                <label for="title">Exp Year</label>
                <select name="expyear"   style="width: 570px;" class= "form-control">
                    <option value="2019">2019</option>
                     <option value="2020">2020</option>
                     <option value="2021">2021</option>
                     <option value="2022">2022</option>
                     <option value="2023">2023</option>
                     <option value="2024">2024</option>
                     <option value="2025">2025</option>
                     <option value="2026">2026</option>
                     <option value="2027">2027</option>
                     <option value="2028">2028</option>
                     <option value="2029">2029</option>
                     <option value="2030">2030</option>
                    
                    
                           </select>
                            </div>
                            <div class="form-group">
                                <label for="title">CVV</label>
                <input type="text" placeholder="352"  required maxlength="3" class= "form-control">
                            </div>
                            <label>
                                <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                              </label><br>
                              <button class="btn btn-success" type="submit" style="margin-left:10px;"><a  href="/lastpage" style="color:white;">Continue to checkout</a> </button>  
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
    
        
            
            
