 <style>

.py-5{        
       height:1000px;
 
       background: url("https://image.shutterstock.com/shutterstock/photos/722251978/display_1500/stock-photo-compass-over-map-with-toy-airplane-abstract-background-to-travel-concept-722251978.jpg") ;
    }
    label{
       padding-right: 40px;
    }
    input[type=text],input[type=email],input[type=number], input[type=submit]{
  width: 70%;
  padding: 15px;
  
  margin: 5px 0 22px 0;
  display: inline-block;
  color:black;
  border: none;
  background: #f1f1f1;
}
     </style>

   
   
   <div class="py-5">
      <div class="row">
          <div class="col-md-6 mx-auto">
              <div class="card rounded-0">
                  <div class="card-header">
                     <h1 style="color:black" text-align="center">Package Registration</h1>
                    </div>
                      <div class="card-body"> 
  
      
    
         <form action="#" memthod="POST">
            <div class="container" id="label">
               <h1>Book the package</h1>
               <p>By entering the following Details.</p>
               <hr>
               <label for="firstname"><b>Name</b></label>
               <input type="text" placeholder="Enter Name" name="firstname" ><br>
               
               <label for="Age"><b>Age  </b></label>
               <input type="text" placeholder="Enter Age" name="age" ><br>
			   	 
               <label for="email"><b>Email</b></label>
               <input type="email" placeholder="Enter Email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required><br>
               <br><label for="add"><b>Address</b></label>
               <input type="text" placeholder="Enter Address" name="add" required><br>
               <label for="phone"><b>Phone no</b></label>
               <input type="number" placeholder="Enter phone number" name="phone" pattern="[7-9]{1}[0-9]{9}"  required><br>
               <br>
               <label for="package"><b>Package/City</b></label>
               <br>
               <select name="package"   style="width: 570px;">
                  <option value="london">London </option>
                  <option value="singapor">Singapor</option>
                  <option value="dubai">Dubai</option>
                  <option value="bali">Bali</option>
                    <option value="Capetown">Capetown</option>
                    <option value="Australia">Australia</option>
                    <option value="Europe">Europe</option>
                    <option value="France">France</option>
                   <option value="Singapore">Singapore</option>
                    <option value="Germany">Germany</option>
                    <option value="Malaysia">Malaysia</option>
               </select>
               <br><br>
               <label for="recipt"><b>Your recipt online or offline?</b></label>
               <input type="radio" name="recipt" value="Online">Online<br>
               <input type="radio" name="recipt" value="Offline">Offline
               <br>  <br>
               <input #fileInput type="file">
               <button class="btn btn-success"(click)="onFileUpload()">Upload</button>
            <br>
                     
            <br>
                  
         
               <button type="button" class="btn btn-danger" style="margin-right:10px;">Cancel</button>
              <button class="btn btn-success" type="submit" style="margin-left:10px;"><a  href="/transaction" style="color:white;">Proceed for payment</a> </button>
            </div>
         </form>
       </div>
       </div>
       </div>
       </div>
       </div>
         
   

