<html>
    <body>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card text-center">
      <img src="https://images.pexels.com/photos/427679/pexels-photo-427679.jpeg?cs=srgb&dl=pexels-chris-schippers-427679.jpg&fm=jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">London</h5>
        <p class="card-text">London is famous for more than its magnificent ancient buildings, the Palace of Westminster, Trafalgar Square, Tower of London, London Eye, Art Galleries, and Big Ben</p>
            <h5>4 Days - 5 Nights $2000</h5><br>
            <button type="button" class="btn btn-primary">Book Now</button>
          
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center">
      <img src="https://images.pexels.com/photos/2615031/pexels-photo-2615031.jpeg?cs=srgb&dl=pexels-sabel-blanco-2615031.jpg&fm=jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Australia</h5>
        <p class="card-text">Australia is globally famous for its natural wonders, wide-open spaces, beaches, deserts, "The Bush", and "The Outback".Indigenous Australians inhabited the continent for about 65,000 years</p>
        <h5>1 Day - 2 Nights $1600</h5><br>
            <button type="button" class="btn btn-primary">Book Now</button>
    </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center">
      <img src="https://images.pexels.com/photos/1842332/pexels-photo-1842332.jpeg?cs=srgb&dl=pexels-timo-volz-1842332.jpg&fm=jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Singapore</h5>
        <p class="card-text">Singapore is one of the most important entrance gates in Southeast Asia. ... Singapore is known for its clean streets and its modern and tall buildings.But this city has many cultural highlights and things to do</p>
        <h5>2 Days - 3 Nights $2500</h5><br>
            <button type="button" class="btn btn-primary">Book Now</button>
    </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center">
      <img src="https://images.pexels.com/photos/1802183/pexels-photo-1802183.jpeg?cs=srgb&dl=pexels-dimitri-dim-1802183.jpg&fm=jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bali</h5>
        <p class="card-text">Every Kind of Natural Beauty. Beyond stunning beaches and magical temples, Bali has virtually every kind of natural beauty.But this city has many cultural highlights and things to do</p>
        <h5>8 Days - 9 Nights {{ 2006 | currency:'CAD':'symbol-narrow'}}</h5>
        
<br>
            <button type="button" class="btn btn-primary">Book Now</button>
    </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center">
      <img src="https://images.pexels.com/photos/3769312/pexels-photo-3769312.jpeg?cs=srgb&dl=pexels-timo-volz-3769312.jpg&fm=jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dubai</h5>
        <p class="card-text">Dubai is famous for sightseeing attractions such as the Burj Khalifa (the world's tallest building) and shopping malls that come complete with mammoth aquariums and indoor ski slopes.</p>
        <h5>6 Days - 7 Nights $3000</h5><br>
            <button type="button" class="btn btn-primary">Book Now</button>
    </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center">
      <img src="https://images.pexels.com/photos/237211/pexels-photo-237211.jpeg?cs=srgb&dl=pexels-pixabay-237211.jpg&fm=jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Seoul</h5>
        <p class="card-text">Seoul, the capital of South Korea, is a huge metropolis where modern skyscrapers, high-tech subways and pop culture meet Buddhist temples, palaces and street markets.</p>
        <h5>2 Days - 3 Nights $1000</h5><br>
            <button type="button" class="btn btn-primary">Book Now</button>
    </div>
    </div>
  </div>
</div>
</body>
</html>